
p{
    font-size: 2rem;
}

button{
    width: 150px;
    height: 150px;
    font-size: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
}